

h1 {
    margin: 0;
    background: teal;
    text-align: left;
}

h2 {
    margin: 0;
    background: teal;
    text-align: left;
}

p {
    margin: 0;
    background: teal;
    text-align: left;
}
